{{define "login.tmpl"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>管理</title>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/static/navbarcssstyle.css">
    </head>

    <body>
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="#!">Logo</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="#!">Home</a>
                    </li>
                    <li>
                        <a href="#!">About</a>
                    </li>

                </ul>
            </nav>
        </div>
    </section>

    <article>
        <form action=" " method="post">
            <fieldset>

                <!-- Form Name -->
                <legend>登录</legend>

                <!-- Text input-->

                <div>
                    <label >用户名</label>
                    <div >
                        <div >
                            <span ><i></i></span>
                            <input  name="name" placeholder="用户名"  type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div >
                    <label >密码</label>
                    <div >
                        <div >
                            <span ><i ></i></span>
                            <input name="password" placeholder="密码" type="text">
                        </div>
                    </div>
                </div>

                <div >

                    <div >
                        <button type="submit" >登录 <span ></span></button>
                    </div>
                </div>

            </fieldset>
        </form>



    </article>




    </body>


    </html>
{{end}}