{{define "signin.tmpl"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/navbarcssstyle.css">
</head>
<body>
<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="#!">Logo</a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="#!">Home</a>
                </li>
                <li>
                    <a href="#!">About</a>
                </li>

            </ul>
        </nav>
    </div>
</section>
<article>
<div >

    <form action=" " method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>注册</legend>

            <!-- Text input-->

            <div>
                <label >用户名</label>
                <div >
                    <div >
                        <span ><i></i></span>
                        <input  name="name" placeholder="用户名"  type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div >
                <label >密码</label>
                <div >
                    <div >
                        <span ><i ></i></span>
                        <input name="password" placeholder="密码" type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div >
                <label >邮箱</label>
                <div >
                    <div >
                        <span ><i ></i></span>
                        <input name="email" placeholder="邮箱"  type="text">
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div >
                <label >手机号</label>
                <div >
                    <div >
                        <span ><i ></i></span>
                        <input name="phone" placeholder="手机号"  type="text">
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div >
                <label >地址</label>
                <div >
                    <div >
                        <span ><i ></i></span>
                        <input name="address" placeholder="地址"  type="text">
                    </div>
                </div>
            </div>
            <div >

                <div >
                    <button type="submit" >注册 <span ></span></button>
                </div>
            </div>

        </fieldset>
    </form>
</div>
</div><!-- /.container -->
    </article>
</body>
</html>
{{end}}